main {
    background-color: rgb(211,211,211);
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    background-color: rgb(211,211,211);
    justify-content: center;
    align-items: center;
}

div {
    width: 80px;
    height: 80px;
    background-color: black;
    margin: 10px;
    border-radius: 5px;

    opacity: 0;
    perspective: 500px;
    animation: aparicionPaneles 4s ease forwards;
    transition: background-color 1s ease-in-out, transform 2s ease;
}

@keyframes aparicionPaneles {
    100% {
        opacity: 1;
    }
}